img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("../images/Country-Desktop-Wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 1160px 720px;
    background-position-x: center;
}

h2{
  display: block;
  text-align: center;
  margin:auto;
  font-size: 150%;
  color: white;
  }
