h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wagonContainer{
  position:absolute;
  width:50%;
  height:40%;
  top: 525px;
  left:1009px;
  right:0;
  bottom:0;
  z-index:1;
}

img.resize{
  width: 200px;
  height: 100px;
}

span{
  display: block;
  text-align: center;
  margin:auto;
  font-size: 150%;
  color: white;
}

body {
    background-image: url("../images/sunset-fog-meadow-11744.jpg");
    background-repeat: no-repeat;
    background-size: 1160px 720px;
    background-position-x: center;
}

h2{
  background-size: 25%;
}

p{
  display: block;
  margin:auto;
  font-size: 125%;
  color: white;
  }

.bottom{
  position: fixed;
  bottom: 0;
}

span{
  display: block;
  text-align: center;
  margin:auto;
  font-size: 150%;
  color: white;
}

ol{
    display: block;
    text-align: center;
    margin:auto;
    font-size: 150%;
    color: white;
    }

ul{
    display: block;
    margin:auto;
    font-size: 150%;
    color: white;
    }
