<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/desc.css">
</head>

<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<p>
The Oregon Trail is a computer game originally developed by Don Rawitsch, Bill Heinemann, and Paul Dillenberger in 1971 and produced by MECC in 1974.
The original game was designed to teach school children about the realities of 19th century pioneer life on the Oregon Trail.

</p>

</body>
<script type="text/javascript" src="/js/desc.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
