<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/mainmenu.css">
</head>
<body>
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<p>
  Oregon Trail
</p>

<p>
  Main Menu
</p>

<p>
  1. Travel the Trail
</p>

<p>
  2 Learn about the trail
</p>

<p>
  3. See the Oregon top 10
</p>

<p>
  4. Turn Sound
  <p id = "onColor">On</p>
  <p id = "offColor">Off</p>
</p>

<p>
  Select an option:
</p>
<script type="text/javascript" src="/js/mainmenu.js"></script>
</body>
</html>
