<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/mainmenu.css">
</head>
<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<p>
  Main Menu
</p>

<li id = "TravelTheTrail">1. Travel the Trail</li>
<li id = "LearnAboutTrail">2. Learn About Trail</li>
<li id = "TT">3. See the Oregon Top Ten</li>

<p>
  4. Turn Sound
  <p id = "onColor">On</p>
  <p id = "offColor">Off</p>
</p>

<p>
  Select an option:
</p>
<script type="text/javascript" src="/js/mainmenu.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</body>
</html>
