<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/setup.css">
</head>

<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<p>
  1. Be a baker from Boston
  2. Be a carpenter from Ohio
  3. Be a farmer from Illinois
  4. Find out the differences between the choices

  Select an option:
</p>

<p>
  Press space bar to go back to the main menu.
</p>
</body>
<script type="text/javascript" src="/js/setup.js"></script>
</html>
