<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/setup.css">
</head>

<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<p>
  1. Be a baker from Boston
</p>
<p>
  2. Be a carpenter from Ohio
</p>
<p>
  3. Be a farmer from Illinois
</p>
<p>
  4. Find out the differences between the choices
</p>
<form>
  Select an option:<input type= "text" name = profession>
<input type = "submit" value = "Submit">
</form>

<p>
  Press space bar to go back to the main menu.
</p>



</body>
<script type="text/javascript" src="/js/setup.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
