<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/topten.css">
</head>
<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>
<div class = "TTcontainer">
  <h2> Top Ten List </h2>
  <h3>Name ... Score ... Date</h3>
  <ol id = nameId class = "myContent"></br></ol>
  <p> press space to return to the main menu </p>
</div>
</body>
<script type="text/javascript" src="/js/topten.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
