<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/topten.css">
</head>
<body>
<h1>
 <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>

<h2> Top Ten List </h2>

<p link = topScore1></p><br />
<p link = topScore2></p><br />
<p link = topScore3></p><br />
<p link = topScore4></p><br />
<p link = topScore5></p><br />
<p link = topScore6></p><br />
<p link = topScore7></p><br />
<p link = topScore8></p><br />
<p link = topScore9></p><br />
<p link = topScore10></p><br />
<br />

<p> press space to continue </p>
<script type="text/javascript" src="/js/topten.js"></script>
</body>
</html>
