<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/trail.css">
</head>
<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>


<h2><img src = "/images/Putin_bear.jpg" alt = "Putin Bear" align = "right"></h2>
<p>
  Days on the Trail:
</p>
<p>
  Miles Traveled:
</p>
<p>
  Current Weather:
</p>
<p>
  Current Health:
</p>
<p>
  Current Pace:
</p>
<p>
  Current Terrain:
</p>
<p>
  # of Party Members:
</p>

<p> Press Enter to travel a day or SPACEBAR to change pace!</p>
<script type="text/javascript" src="/js/trail.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
