<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/trail.css">
</head>
<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>


<h2><img src = "/images/wagon.png" alt = "wagon wheel" align = "right"></h2>

<p class = "bottom">
  Days on the Trail:
  <br>
  Miles Traveled:
  <br>
  Current Weather:
  <br>
  Current Health:
  <br>
  Current Pace:
  <br>
  Current Terrain:
  <br>
  # of Party Members:
  <br>
  Press Enter to travel a day or SPACEBAR to change pace!
</p>


<script type="text/javascript" src="/js/trail.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
