<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "/css/trail.css">
</head>
<body bgcolor="#000000">
<h1>
  <img src="/images/oregon trail.jpg" alt="oregon trail" class="center" style="width:40%">
</h1>


<div id = "wagonContainer">
    <img id ="wagon wheel" class="resize" src = "/images/yeet wagon.png">
</div>

<div id = "gamePlayContainer" class = "bottom">
  <ul>
  <li id = "daysOnTrail"></li>
  <li id = "milesTraveled"></li>
  <li id = "groupHealth"></li>
  <li id = "currentTerrain"></li>
  <li id = "currentWeather"></li>
  <li id = "currentPace"></li>
  <li id = "currentMoney"></li>
  <li id = "playersLeft"></li>
  <li id = "foodLeft"></li>
  <li id = "instruct"></li>
</ul>
</div>

<div id = "hidePace">
  <div id = "paceContainer">
    <span>Change pace</span>
    <ol>
      <li id = "steady">steady</li>
      <li id = "strenuous">strenous</li>
      <li id = "grueling">grueling</li>
      <li id = "resting">resting</li>
    </ol>
  </div>
</div>

<div id = "hideFood">
  <div id = "eatHuntCont">
    <span>Select what you would like to do</span>
    <ol>
      <li id = "hunt">Hunt</li>
      <li id = "eat">Eat</li>
    </ol>
  </div>
</div>


<div id = "GO">
  <div id = "gameOverContainer">
    <span>Please choose and option</span>
    <ol>
      <li id = "reset">Reset</li>
      <li id = "mainmenu">Main Menu</li>
    </ol>
  </div>
</div>


<script type="text/javascript" src="/js/trail.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
</html>
